asgiref==3.3.4
Django==3.2
django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
node==0.9.25
npm==0.1.1
odict==1.7.0
optional-django==0.1.0
plumber==1.6
PyJWT==2.1.0
pytz==2021.1
sqlparse==0.4.1
zope.component==5.0.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.4.0
zope.lifecycleevent==4.3
